/*

Base-----------------------------------------------------

*/

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
}

// general padding left right and center content
.location,
.presentation,
.howdoesitwork,
.restaurants,
.restaurantmenu__title,
.restaurantmenu__menu,
.restaurantmenu__order,
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 5%;
}

.presentation,
.howdoesitwork,
.restaurants,
.restaurantmenu__menu,
.footer {
  flex-direction: column;
}

// general padding bottom
.presentation,
.howdoesitwork,
.restaurants,
.restaurantmenu__order {
  padding-bottom: 3rem;
}

// style button
.presentation__btn,
.restaurantmenu__order__btn {
  background-color: $color_secondary;
  background: linear-gradient(
    to bottom,
    $color_secondary 0%,
    $color_primary 100%
  );

  border-radius: 3rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;

  margin: auto;
  padding: 1rem 0.5rem;

  &:hover,
  &:focus {
    background: linear-gradient(
      to bottom,
      $color_secondary--light 0%,
      $color_primary--light 100%
    );
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    transition-duration: 400ms;
    outline: none;
  }
}

//heart checkboxes
.restaurants__figcaption__like,
.restaurantmenu__presentation__title__like {

  & > input {
    appearance: none;
    height: 2rem;
    width: 2rem;
    border: 1px solid lightGrey;
    outline: none;
    cursor: pointer;
  }

  & > input:checked,
  & > input:hover {
    border: 1px solid lightGrey;
    background: linear-gradient(
      to bottom,
      $color_primary 0%,
      $color_secondary 100%
  );
  }
}

//header
.header {
  &__logo {
    font-family: Shrikhand;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    width: 100%;
    text-align: center;
  }
}

//footer
.footer {
  background-color: $color_background--darker;
  padding-bottom: 2.5rem;

  &__logo {
    font-family: Shrikhand;
    color: white;
    padding-bottom: 1rem;
  }

  &__links li {
    padding: 0.3rem 0;
  }

  &__links img {
    width: 10px;
  }

  &__links a {
    color: white;
  }

  &__links a:hover {
    color: $color_tertiary;
  }
}
