//
.restaurantmenu {
  display: flex;
  flex-direction: column;

  // restaurant presentation

  &__presentation {
    position: relative;

    &__illustration {
      & img {
        width: 100%;
      }
    }

    &__title {
      background-color: white;
      border-radius: 3rem 3rem 0 0;
      font-family: Shrikhand;
      font-size: 2rem;
      position: absolute;
      bottom: 0rem;
      padding: 2.3rem 2rem 0 1.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__like {
        width: 2rem;
      }
    }
  }

  // restaurant menu
  &__menu {
    margin-top: 1rem;

    &__mealstep {
      font-size: 1rem;
      text-decoration: underline 0.15rem $color_tertiary;
      text-transform: uppercase;
    }

    // restaurant order
    &__order {
      width: 50%;
      margin: 1rem auto;
    }
  }
}

//menu
.menu {

  &__dish {
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
    display: flex;
    cursor: default;
    margin: 1rem auto;

    &--text,
    &--selection {
      padding: 0.4rem 0.7rem;
    }

    &--text {
      font-size: 0.8rem;
      line-height: 1.5rem;

      // for transforming into dots (...)
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      & strong {
        font-weight: bold;
        font-size: 1rem;
      }
    }

    &--price {
      font-size: 0.9rem;
      font-weight: bold;
      text-align: right;
      display: flex;
      align-self: flex-end;
      padding: 0 1rem 0.7rem 0;
    }

    &--selection {
      background-color: $color_tertiary;
      border-radius: 0 0.8rem 0.8rem 0;
      width: 13%;
      display: flex;

      & img {
        width: 1.1rem;
        margin: auto;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
