//
.restaurantmenu {
  display: flex;
  flex-direction: column;

  // restaurant presentation

  &__presentation {
      position: relative;

      &__illustration {
        & img {
          width: 100%;
        }
      }

      &__title {
        background-color: white;
        border-radius: 3rem 3rem 0 0;
        font-family: Shrikhand;
        font-size: 2rem;
        position: absolute;
        bottom: 0rem;
        padding: 2.3rem 2rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__like {
          width: 2rem;
        }
      }
  }


  // restaurant menu
  &__menu {
    margin-top: 1rem;

    &__mealstep {
      font-size: 1rem;
      text-decoration: underline 0.15rem $color-tertiary;
      text-transform: uppercase;
    }

    & li {
      background-color: white;
      box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
      border-radius: 0.8rem;
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
    }

    &__dish--text,
    &__dish--selection {
      padding: 0.4rem 0.7rem;
    }

    &__dish--text {
      font-size: 0.8rem;
      line-height: 1.5rem;
      flex-grow: 2;
      & strong {
        font-size: 1rem;
      }
    }

    &__dish--price {
      font-size: 0.9rem;
      font-weight: bold;
      text-align: right;
      display: flex;
      align-self: flex-end;
      padding: 0 1rem 0.7rem 0;
    }

    &__dish--selection {
      background-color: $color-tertiary;
      border-radius: 0 0.8rem 0.8rem 0;
      width: 13%;
      display: flex;

      & img {
        width: 1.1rem;
        margin: auto;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  // restaurant order
  &__order {
    width: 50%;
    margin: 1rem auto;
  }
}
