/*

page-restaurant------------------------------------------

*/

.restaurantmenu {
  background-color: $color_background--lighter;

  // restaurant presentation
  &__presentation {
    position: relative;

    &__illustration {
      & img {
        width: 100%;
      }
    }

    &__title {
      background-color: $color_background--lighter;
      border-radius: 2rem 2rem 0 0;
      font-family: Shrikhand;
      font-size: 1.5rem;
      position: absolute;
      bottom: -1.5rem;
      padding: 2rem 1.5rem 0 1.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  // restaurant menu
  &__menu {
    margin-top: 1rem;

    &__mealstep {
      font-size: 0.9rem;
      margin: 0 0 .4rem 0;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 1.2rem;
        height: .15rem;
        width: 2.2rem;
        background-color: $color_tertiary;
      }
    }

    &__mealstep ~ .restaurantmenu__menu__mealstep {
        margin-top: 2rem;
    }
  }
}

//menu
.menu {
  &__dish {
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    display: flex;
    cursor: default;
    margin: .8rem auto;

    &--text,
    &--selection {
      padding: 0.5rem 0.7rem;
    }

    &--text {
      font-size: 0.75rem;
      line-height: 1.2rem;

      // for transforming into dots (...)
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      & strong {
        font-weight: bold;
        font-size: 0.9rem;
      }
    }

    &--price {
      font-size: 0.8rem;
      font-weight: bold;
      text-align: right;
      display: flex;
      align-self: flex-end;
      padding: 0 1rem 0.7rem 0;
    }

    &--selection {
      background-color: $color_tertiary;
      border-radius: 0 0.8rem 0.8rem 0;
      width: 20%;
      display: flex;

      & img {
        width: 1.1rem;
        margin: auto;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
