/*

page-index-----------------------------------------------

*/

// input location
.location {
  background-color: $color_background;
  box-shadow: inset 0 0.2rem 0.3rem -0.2rem rgba(0, 0, 0, 0.6);

  &__entry {

    &__icon {
      width: 0.7rem;
      margin-left: 1.5rem;
    }

    &__input {
      background-color: $color_background;
      margin-left: 0.5rem;
    }
  }
}

::placeholder {
  color: $color_background--darker;
  font-weight: bold;
  font-size: .9rem;
}

// section 1 : concept presentation
.presentation {
  background-color: $color_background--lighter;

  &__title,
  &__explanations {
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem auto;
  }

  &__explanations {
    font-size: 1rem;
    margin: 0.5rem auto 2rem auto;
  }
}

//style texts sections titles
.section__title {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 2rem 0rem 1rem 0rem;
}

// section 2 : explanation, how does it work
.howdoesitwork {
  &__step {
    background-color: $color_background--lighter;
    border-radius: 1.3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    font-weight: bold;
    padding: 1rem 0 1.5rem 0;
    cursor: default;

    &__number {
      display: inline-block;
      background-color: $color_primary;
      border-radius: 50%;
      color: white;
      font-size: 0.6em;
      height: 1.3rem;
      width: 1.3rem;
      text-align: center;
      padding-top: .4rem;

      position: relative;
      left: -.6rem;
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      padding-top: 0.5rem;
      margin: auto 0.6rem auto 0.4rem;
      position: relative;
      top: 0.15rem;
    }
  }

  &__step + &__step {
    margin-top: 1.3rem;
  }

  &__step:hover {
    background-color: $color_primary--lighter;
  }
}

// section 3 : restaurants choices
.restaurants {
  background-color: $color_background--lighter;
  font-size: 1.2em;

  &__card {
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin: 0.5rem auto;
    position: relative;
  }

  &__photo {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }

  &__newtag {
    background-color: $color_tertiary;
    border-radius: 0.1rem;
    color: $color_tertiary--darker;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem 0.3rem 0.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__figcaption {
    padding: .8rem;
    display: flex;
    justify-content: space-between;

    &__text {
        font-size: .9rem;
      &__namerestaurant {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
    }
  }
}
