// color variables
$color_primary: #9356DC;
$color_primary--light: hsl(267, 56%, 64%);
$color_primary--lighter: hsla(266, 64%, 60%, 0.2);

$color_secondary: #FF79DA;
$color_secondary--light: hsl(316, 89%, 78%);

$color_tertiary: #99E2D0;
$color_tertiary--darker: hsl(165, 63%, 35%);

// background color variables
$color_background: hsl(0, 0%, 85%);
$color_background--lighter: hsl(0, 0%, 95%);
$color_background--darker: hsl(0, 0%, 20%);
