// color variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// background color variables
$grey: hsl(0, 0%, 85%);
$grey-lighter: hsl(0, 0%, 95%);
$grey-darker: hsl(0, 0%, 20%);
