@import "cssreset";
@import "variables";
@import "general-style";
@import "page-index";
@import "page-restaurant";

//
// En cours
//

//
.restaurantmenu {
  display: flex;
  flex-direction: column;

  // restaurant presentation
  &__illustration {
    position: relative;

    & img {
      width: 100%;
    }
  }

  &__title {
    background-color: white;
    border-radius: 3rem 3rem 0 0;
    position: absolute;
    bottom: -2rem;
    padding-top: 2rem;
    width: 100%;
  }

  // restaurant menu
  &__menu {
    margin-top: 1rem;

    & li {
      background-color: white;
      box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
      border-radius: 0.7rem;
      margin: 1rem 0;
      padding: 1rem 0;
    }
  }

  // restaurant order
  &__order {
    width: 50%;
    margin: 1rem auto;
  }
}
