* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
}

.content {
  -webkit-animation: start-fadein 600ms ease-in-out;
  animation: start-fadein 600ms ease-in-out;
}
