#content {
  -webkit-animation: fade-in 3s ease-in;
          animation: fade-in 3s ease-in;
}

#loading img {
  //vertically & horizontally centered
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, -50%);
  width: 5rem;
  height: 5rem;
  -webkit-animation: pulse 3s ease-in-out;
          animation: pulse 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
