#content {
  animation: fade-in 3s ease-in;
}

#loading__spinner {
  //vertically & horizontally centered
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  & img {
    width: 5rem;
    height: 5rem;
    opacity: 0;

    animation: pulse 3s ease-in-out;
  }
}
