@media (min-width: 1024px) {
  // page-index
  .footer,
  .howdoesitwork,
  .location,
  .presentation,
  .restaurants {
    padding: 2rem;
  }

  .presentation {
  }

  .howdoesitwork {
    padding-top: 1rem;
    padding-bottom: 3rem;

    & ul {
      margin: 0 auto;
      width: auto;

      & li {
        padding-right: 2rem;
      }
    }
  }

  #howdoesitwork__step1 {
    position: relative;
    left: -10rem;
  }

  #howdoesitwork__step3 {
    position: relative;
    left: 10rem;
  }

  .restaurants__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .restaurants {
    padding-bottom: 6rem;

    & a {
      width: 23%;
    }

    &__card {
      // height: 14.5rem;
    }
  }
  // page-restaurant
  .restaurantmenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: inset 0 0.2rem 0.3rem -0.2rem rgba(0, 0, 0, 0.4);

    &__presentation {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      border-radius: 2rem 2rem 2rem 2rem;
      margin-top: 4rem;
      margin-left: 3.5rem;
      padding: 0;

      &__illustration img {
        border-radius: 2rem 2rem 2rem 2rem;
        @include box-shadow;
        position: relative;
        bottom: -0.15rem;
        height: auto;
        max-height: 48rem;
        margin-top: 1rem;
      }

      &__title {
        border-radius: 2rem 2rem 2rem 2rem;
        @include box-shadow;
        background-color: white;
        position: relative;
        top: 0;
        padding-bottom: 2rem;
      }
    }

    &__menu {
      margin-top: 4rem;
      padding-top: 0;
    }
  }
}

//for Galaxy fold screen-size issues
@media (max-width: 334px) {
  .location {
    padding: 5% 0 5% 0;

    &__entry {
      padding-left: 3rem;

      &__icon {
        margin-left: 0.6rem;
      }

      &__input {
        margin-left: 0.1rem;
      }
    }
  }

  .howdoesitwork__step {
    font-size: 0.8rem;
  }
}
