// restaurants pages - tick box grow
.menu__dish:hover > .menu__dish--selection {
  opacity: 1;
  width: 17%;
  margin-left: 1rem;

  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

// restaurants pages - tick icon rotate
.menu__dish:hover > .menu__dish--selection img {
  -webkit-animation: spin-tick 400ms ease-in-out;
  animation: spin-tick 400ms ease-in-out;
}

@-webkit-keyframes spin-tick {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-tick {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
