// pulse animation : for loading spinner

@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  25% {
    transform: scale3d(1, 1, 1);
  }

  35% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  50% {
    transform: scale3d(1, 1, 1);
    opacity: 0.5;
  }

  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    z-index: -999;
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  25% {
    transform: scale3d(1, 1, 1);
  }

  35% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  50% {
    transform: scale3d(1, 1, 1);
    opacity: 0.5;
  }

  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    z-index: -999;
  }
}
// fade-in animation : for restaurant page dishes
.menu--part1,
.menu--part2,
.menu--part3 {
  position: relative;
}

.menu--part1 {
          -webkit-animation: fade-in 600ms ease-in;
                  animation: fade-in 600ms ease-in;
}

.menu--part2 {
          -webkit-animation: fade-in 1200ms ease-in;
                  animation: fade-in 1200ms ease-in;
}

.menu--part3 {
          -webkit-animation: fade-in 1800ms ease-in;
                  animation: fade-in 1800ms ease-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    top: 1rem;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}



@keyframes fade-in {
  0% {
    opacity: 0;
    top: 1rem;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
// restaurants pages - tick box grow
.menu__dish:hover > .menu__dish--selection {
  opacity: 1;
  width: 17%;
  margin-left: 1rem;
  transition: 300ms ease-in-out;
}
// restaurants pages - tick icon rotate
.menu__dish:hover > .menu__dish--selection img {
          -webkit-animation: spin-tick 400ms ease-in-out;
                  animation: spin-tick 400ms ease-in-out;
}
@-webkit-keyframes spin-tick {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-tick {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
