// style button
.presentation__btn,
.restaurantmenu__order__btn {
  background-color: $color_secondary;
  background: -o-linear-gradient(
    top,
    $color_secondary 0%,
    $color_primary 100%
  );
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from($color_secondary),
    to($color_primary)
  );
  background: linear-gradient(
    to bottom,
    $color_secondary 0%,
    $color_primary 100%
  );

  border-radius: 3rem;
  border: none;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 600;

  width: 13rem;
  margin: 0 auto;
  padding: 0.9rem 1rem;

  &:hover,
  &:focus {
    background: -o-linear-gradient(
      top,
      $color_secondary--light 0%,
      $color_primary--light 100%
    );
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from($color_secondary--light),
      to($color_primary--light)
    );
    background: linear-gradient(
      to bottom,
      $color_secondary--light 0%,
      $color_primary--light 100%
    );
    -webkit-box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
            box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
    outline: none;
  }
}
