//heart checkboxes
.restaurants__figcaption__like,
.restaurantmenu__presentation__title__like {
  position: relative;
  width: 2rem;
  margin: 0.3rem 0.5rem 0 0;

  cursor: pointer;

  &__emptyheart {
    width: 1.5rem;
    position: absolute;
  }

  &__fullheart {
    width: 1.5rem;
    position: absolute;
    opacity: 0;

    &:hover {
      opacity: 1;
      -webkit-transition: 400ms ease-in-out;
      -o-transition: 400ms ease-in-out;
      transition: 400ms ease-in-out;
    }
  }
}
