header a {
  width: 1.5rem;
  position: absolute;
  top: 1.8rem;
  left: 1.5rem;
  z-index: 999;
}

.restaurantmenu {
  @include flex-column;
  background-color: $color_background--lighter;
  // restaurant presentation
  &__presentation {
    position: relative;

    &__illustration {
      & img {
        width: 100%;
        height: 20rem;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    &__title {
      @include flex-centercontent;
      background-color: $color_background--lighter;
      border-radius: 2rem 2rem 0 0;
      font-family: Shrikhand;
      font-size: 1.5rem;
      position: absolute;
      bottom: -1.5rem;
      padding: 2rem 1.5rem 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__like {
        width: 1.3rem;
        margin: 0 0.5rem 0 0;
      }
    }
  }
  // restaurant menu
  &__menu {
    @include flex-centercontent;
    @include flex-column;
    margin-top: 2rem;

    &__mealstep {
      font-size: 0.9rem;
      margin: 0 0 0.4rem;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 1.2rem;
        height: 0.15rem;
        width: 2.2rem;
        background-color: $color_tertiary;
      }
    }

    &__mealstep ~ .restaurantmenu__menu__mealstep {
      margin-top: 2rem;
    }
  }
}
//menu
.menu__dish {
  background-color: white;
  @include box-shadow;
  border-radius: 0.8rem;
  display: flex;
  margin: 0.8rem auto;
  cursor: pointer;

  &--selection,
  &--text {
    padding: 0.5rem 0.7rem;
  }

  &--text {
    font-size: 0.75rem;
    line-height: 1.2rem;
    // for transforming into dots (...)
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & strong {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }

  &--price {
    color: #343434;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-self: flex-end;
    padding: 0 0 0.7rem;
  }

  &--selection {
    background-color: $color_tertiary;
    border-radius: 0 0.8rem 0.8rem 0;
    width: 0;
    opacity: 0;
    display: flex;
    transition-duration: 300ms;

    & img {
      width: 1.2rem;
      margin: auto;
    }
  }
}

.restaurantmenu__order {
  @include flex-centercontent;
  padding-top: 2rem;
  padding-bottom: 4rem;

  &__btn {
    width: auto;
  }
}
